python-dotenv
pyTelegramBotAPI
google-genai
groq
flask
ngrok
langchain_community
langchain_text_splitters
langchain_chroma
langchain_huggingface
langchain_google_genai
langchain_groq
gunicorn --workers 2 --bind 0.0.0.0:$PORT webhook:app
